{% extends "base.html" %}
{% load static %}

{% block body %}



  <section class="blog-area section-gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 pb-30 header-text">
        <h1>Hamza App</h1>
        <div id="mc_embed_signup">
          <form target="_blank" novalidate="true" action="{% url 'notes:algorithm_analysis' %}" method="GET" class="form-inline">

            <div class="form-group row" style="width: 100%">
              <div class="col-lg-8 col-md-12">
                <input  name="query_ip" placeholder="IP address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'IP address '" required="" type="number">
                <input name="query_user" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username '" required="" type="text">
                <input name="query_pass" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password '" required="" type="password">
              </div>

              <div class="col-lg-4 col-md-12">
                <button type="submit" class="nw-btn primary-btn">Scan<span class="lnr lnr-arrow-right"></span></button>
              </div>
            </div>
            <div class="info"></div>
          </form>
        </div>

    </div>
  </div>
</section>
{% endblock %}
